.fes-loading {
    background: url('../img/wpspin_light.gif') no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
}
.fes-loading.hide {
    display: none
}
.fes-button {
    background: #f3f3f3;
    background-image: linear-gradient(to bottom, #fefefe, #f4f4f4);
    background-image: -moz-linear-gradient(top, #fefefe, #f4f4f4);
    background-image: -o-linear-gradient(top, #fefefe, #f4f4f4);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#f4f4f4));
    background-image: -webkit-linear-gradient(top, #fefefe, #f4f4f4);
    border-color: #bbb;
    color: #333;
    text-shadow: 0 1px 0 #fff;
}
.fes-button:hover,
.fes-button:focus {
    background: #f3f3f3;
    background-image: linear-gradient(to bottom, #ffffff, #f3f3f3);
    background-image: -moz-linear-gradient(top, #ffffff, #f3f3f3);
    background-image: -ms-linear-gradient(top, #ffffff, #f3f3f3);
    background-image: -o-linear-gradient(top, #ffffff, #f3f3f3);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f3f3f3));
    background-image: -webkit-linear-gradient(top, #ffffff, #f3f3f3);
    border-color: #999;
    color: #222;
}
.fes-success {
    background: #E0FFE0;
    border: 1px solid #99F199;
    padding: 10px;
}
.fes-info {
    background-color: #fef5be;
    border: 2px solid #fdd425;
    border-radius: 5px;
    font-size: 13px;
    margin: 0 0 10px 0;
    moz-border-radius: 5px;
    padding: 5px 10px;
    webkit-border-radius: 5px;
}
div.edd-checkout-fields {
    list-style: none !important;
    margin: 0 !important;
}
div.edd-checkout-fields fieldset {
    margin-bottom: 10px;
    margin-left: 0;
    padding: 10px;
}
div.edd-checkout-fields fieldset:after {
    clear: both;
    content: "";
    display: table;
}
div.edd-checkout-fields fieldset.has-error {
    background: #FFE4E4
}
div.edd-checkout-fields fieldset .fes-label {
    float: left;
    width: 25%;
}
div.edd-checkout-fields fieldset .fes-label .required {
    color: red
}
div.edd-checkout-fields fieldset .fes-fields {
    float: left;
    width: 75%;
}
div.edd-checkout-fields fieldset .fes-fields input[type=text],
div.edd-checkout-fields fieldset .fes-fields input[type=password],
div.edd-checkout-fields fieldset .fes-fields input[type=email],
div.edd-checkout-fields fieldset .fes-fields input[type=url],
div.edd-checkout-fields fieldset .fes-fields input[type=number],
div.edd-checkout-fields fieldset .fes-fields textarea {
    background: #fafafa;
    border: 1px solid #ddd;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #888;
    moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
    webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
}
div.edd-checkout-fields fieldset .fes-fields input[type=text]:focus,
div.edd-checkout-fields fieldset .fes-fields input[type=password]:focus,
div.edd-checkout-fields fieldset .fes-fields input[type=email]:focus,
div.edd-checkout-fields fieldset .fes-fields input[type=url]:focus,
div.edd-checkout-fields fieldset .fes-fields input[type=number]:focus,
div.edd-checkout-fields fieldset .fes-fields textarea:focus {
    color: #373737
}
div.edd-checkout-fields fieldset .fes-fields textarea {
    padding-left: 3px;
    width: 98%;
}
div.edd-checkout-fields fieldset .fes-fields input[type=text],
div.edd-checkout-fields fieldset .fes-fields input[type=password],
div.edd-checkout-fields fieldset .fes-fields input[type=email],
div.edd-checkout-fields fieldset .fes-fields input[type=url],
div.edd-checkout-fields fieldset .fes-fields input[type=number] {
    padding: 5px
}
div.edd-checkout-fields fieldset .fes-fields select {
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    height: 2em;
    min-width: 150px;
    moz-border-radius: 3px;
    padding: 2px;
    webkit-border-radius: 3px;
}
div.edd-checkout-fields fieldset .fes-fields select[multiple] {
    height: auto
}
div.edd-checkout-fields fieldset .fes-fields a.file-selector {
    background-color: #21759b;
    background-image: linear-gradient(to bottom, #2a95c5, #21759b);
    background-image: -moz-linear-gradient(top, #2a95c5, #21759b);
    background-image: -ms-linear-gradient(top, #2a95c5, #21759b);
    background-image: -o-linear-gradient(top, #2a95c5, #21759b);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2a95c5), to(#21759b));
    background-image: -webkit-linear-gradient(top, #2a95c5, #21759b);
    border: 1px solid #ccc;
    border-bottom-color: #1e6a8d;
    border-color: #21759b;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.5);
    color: #fff;
    height: 30px;
    line-height: 28px;
    moz-border-radius: 3px;
    padding: 5px 12px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    webkit-border-radius: 3px;
    webkit-box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.5);
}
div.edd-checkout-fields fieldset .fes-fields a.file-selector:hover,
div.edd-checkout-fields fieldset .fes-fields a.file-selector:focus {
    background-color: #278ab7;
    background-image: linear-gradient(to bottom, #2e9fd2, #21759b);
    background-image: -moz-linear-gradient(top, #2e9fd2, #21759b);
    background-image: -ms-linear-gradient(top, #2e9fd2, #21759b);
    background-image: -o-linear-gradient(top, #2e9fd2, #21759b);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2e9fd2), to(#21759b));
    background-image: -webkit-linear-gradient(top, #2e9fd2, #21759b);
    border-color: #1b607f;
    box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.6);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    webkit-box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.6);
}
div.edd-checkout-fields fieldset .fes-fields .google-map img {
    max-width: none !important
}
div.edd-checkout-fields fieldset .fes-fields .fes-help {
    color: #666;
    font-family: sans-serif;
    font-size: 12px;
    font-style: italic;
    margin: 2px 0 5px 0;
}
div.edd-checkout-fields fieldset .fes-fields table,
div.edd-checkout-fields fieldset .fes-fields td {
    border: none;
    margin: 0;
}
div.edd-checkout-fields fieldset .fes-fields table {
    width: 100%
}
div.edd-checkout-fields fieldset .fes-fields img.fes-clone-field,
div.edd-checkout-fields fieldset .fes-fields img.fes-remove-field {
    border: none;
    box-shadow: none;
    cursor: pointer;
    margin: 0 3px;
}
div.edd-checkout-fields fieldset .fes-fields div.fes-attachment-list {
    list-style: none;
    margin: 5px 0 0 0;
    padding: 0;
}
div.edd-checkout-fields fieldset .fes-fields div.fes-attachment-list li {
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    display: inline-block;
    margin-right: 5px;
    moz-border-radius: 5px;
    padding: 5px;
    webkit-border-radius: 5px;
}
div.edd-checkout-fields fieldset .fes-fields div.fes-attachment-list li a.attachment-delete {
    background-color: #bd362f;
    background-color: #da4f49;
    background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
    background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
    background-repeat: repeat-x;
    border: 1px solid #C47272;
    border-color: #bd362f #bd362f #802420;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    color: #ffffff;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
    moz-border-radius: 3px;
    padding: 3px 12px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    webkit-border-radius: 3px;
}
div.edd-checkout-fields fieldset .fes-fields div.fes-attachment-list li a.attachment-delete:hover,
div.edd-checkout-fields fieldset .fes-fields div.fes-attachment-list li a.attachment-delete:active {
    background-color: #a9302a;
    background-color: #bd362f;
    color: #ffffff;
}
div.edd-checkout-fields fieldset .fes-fields .progress {
    background: -moz-linear-gradient(center bottom, #ffffff 0%, #f7f7f7 100%) repeat scroll 0 0 #ffffff;
    border: 1px solid #D1D1D1;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) inset;
    float: right;
    height: 22px;
    line-height: 2em;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 200px;
}
div.edd-checkout-fields fieldset .fes-fields .bar {
    background-color: #83B4D8;
    background-image: -moz-linear-gradient(center bottom, #72a7cf 0%, #90c5ee 100%);
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 0;
    z-index: 9;
}
div.edd-checkout-fields fieldset .fes-fields .progress .percent {
    color: rgba(0, 0, 0, 0.6);
    padding: 0 8px;
    position: relative;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    width: 200px;
    z-index: 10;
}
div.edd-checkout-fields fieldset .fes-fields div.fes-category-checklist {
    list-style: none;
    margin: 0;
    padding: 0;
}
div.edd-checkout-fields fieldset .fes-fields div.fes-category-checklist li {
    margin-bottom: 5px;
    padding: 0;
}
div.edd-checkout-fields fieldset .fes-fields div.fes-category-checklist div.children {
    list-style: none;
    margin-left: 25px;
}
div.edd-checkout-fields fieldset .fes-fields #fes-insert-image-container {
    margin-bottom: 3px
}
div.edd-checkout-fields fieldset .fes-fields #fes-insert-image-container:after {
    clear: both;
    content: "";
    display: table;
}
div.edd-checkout-fields fieldset .fes-fields #fes-insert-image-container a#fes-insert-image {
    border: 1px solid #DFDFDF;
    border-radius: 3px;
    font-size: 11px;
    margin-right: 10px;
    moz-border-radius: 3px;
    padding: 4px 6px;
    text-decoration: none;
    webkit-border-radius: 3px;
}
div.edd-checkout-fields fieldset .fes-fields #fes-insert-image-container a#fes-insert-image .fes-media-icon {
    height: 12px;
    width: 12px;
}
div.edd-checkout-fields fieldset .fes-section-wrap {
    border-bottom: 1px solid #ccc;
    margin: 15px 0;
}
div.edd-checkout-fields fieldset .fes-section-wrap h2.fes-section-title {
    margin: 0
}
div.edd-checkout-fields fieldset .fes-section-wrap .fes-section-details {
    font-size: 12px;
    padding: 4px 0 8px;
}
div.edd-checkout-fields .fes-submit input[type=submit] {
    background-color: #21759b;
    background-image: linear-gradient(to bottom, #2a95c5, #21759b);
    background-image: -moz-linear-gradient(top, #2a95c5, #21759b);
    background-image: -ms-linear-gradient(top, #2a95c5, #21759b);
    background-image: -o-linear-gradient(top, #2a95c5, #21759b);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2a95c5), to(#21759b));
    background-image: -webkit-linear-gradient(top, #2a95c5, #21759b);
    border: 1px solid #ccc;
    border-bottom-color: #1e6a8d;
    border-color: #21759b;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.5);
    color: #fff;
    font-size: 14px;
    moz-border-radius: 3px;
    padding: 5px 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    webkit-border-radius: 3px;
    webkit-box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.5);
    height: 30px;
}
div.edd-checkout-fields .fes-submit .button-primary-disabled {
    background: #298cba !important;
    border-color: #1b607f !important;
    box-shadow: none !important;
    color: #94cde7 !important;
    cursor: default;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1) !important;
    webkit-box-shadow: none !important;
}
div.edd-checkout-fields .fes-submit .fes-error edd_errors {
    background: #FFE4E4;
    border: 1px solid #ffb1b1;
    border-radius: 3px;
    font-size: 13px;
    margin: 10px 0;
    moz-border-radius: 3px;
    padding: 10px;
    webkit-border-radius: 3px;
}
.fes_sub_info {
    border: 1px solid green;
    border-radius: 5px;
    margin: 10px 5px;
    padding: 0;
}
.fes_sub_info h3 {
    background: green;
    color: #fff !important;
    font-weight: bold;
    margin: 0 0 5px 0 !important;
    padding: 3px 10px !important;
}
.fes_sub_info .text {
    padding: 5px 10px
}
.ui-timepicker-div .ui-widget-header {
    margin-bottom: 8px
}
.ui-timepicker-div dl {
    text-align: left
}
.ui-timepicker-div dl dt {
    height: 25px;
    margin-bottom: -25px;
}
.ui-timepicker-div dl dd {
    margin: 0 10px 10px 65px
}
.ui-timepicker-div td {
    font-size: 90%
}
.ui-tpicker-grid-label {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}
.ui-timepicker-rtl {
    direction: rtl
}
.ui-timepicker-rtl dl {
    text-align: right
}
.ui-timepicker-rtl dl dd {
    margin: 0 65px 10px 10px
}